@font-face {
    font-family: "ArbFONTS-GE_Dinar_Two_Light-1";
    src: url("../fonts/ArbFONTS-GE_Dinar_Two_Light-1.otf");
  }
  @font-face {
    font-family: "ArbFONTS-GE-Dinar-One-Medium";
    src: url("../fonts/ArbFONTS-GE-Dinar-One-Medium.otf");
  }
  @font-face {
    font-family: "ArbFONTS-GE-Dinar-Two-Medium-2";
    src: url("../fonts/ArbFONTS-GE-Dinar-Two-Medium-2.otf");
  }
  @font-face {
    font-family: "ArbFONTS-Almarai-Regular";
    src: url("../fonts/ArbFONTS-Almarai-Regular.ttf");
  }
  @font-face {
    font-family: "Geeza Pro Bold";
    src: url("../fonts/Geeza Pro Bold.ttf");
  }
  
  @font-face {
    font-family: "Hacen Saudi Arabia";
    src: url("../fonts/Hacen Saudi Arabia.ttf");
  }
  
.user-panel > .info > a{
    text-decoration: none;
    padding-left: 5px;
    margin-top: 3px;
    font-size: 15px;
    color:#fff;
    font-family: ArbFONTS-GE_Dinar_Two_Light-1;

}
.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
    border-radius: 50%;
}
.badge-warning {
    color: #212529;
    background-color: #aa802d;
}
.btn-primary {
    color: #fff;
    background-color: #aa802d;
    border-color: #aa802d;
}
.text-dark {
    color: #aa802d!important;
    background: #fff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 2rem;
    padding: 5px 10px;
    font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
    font-weight: 600;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1e3e65;
    font-family:ArbFONTS-GE_Dinar_Two_Light-1;
}
.nav-sidebar .nav-item  i.icongift
{
float: left;
}

.sidebar .nav-treeview .nav-item{
  width:100%;
  margin-bottom: 6px;
    }
    .nav-pills>li>a {
        border-radius: 0;
        border-top: 3px solid transparent;
        color: #fff;
        padding: 0.5rem 1rem;
        font-family:ArbFONTS-GE_Dinar_Two_Light-1;
    }

    .wrapper {
      min-height: 100%;
      position: relative;
  }
  .breadcrumb .breadcrumb-item a{
    font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
  }
  .breadcrumb .breadcrumb-item.active{
    font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
  }
  footer p{
  font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
  text-align: center;
}
.main-sidebar,
.left-side {
padding-top: 0px;
}
.dropdown-header .dropdown-item{
  font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
  font-size: 20px;
}
.dropdown-header{
  font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
  font-size: 20px;
  text-align: center;
}
table{
  font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
}
.btn-success {
  font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
}
h2{
  font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
}
.btn-primary {
  font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
}
.form-group {
  font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
}

.alert-success {
  font-family: 'ArbFONTS-GE_Dinar_Two_Light-1';
}

    /* table responsive mobile*/
    @media(min-width:768px){
         .responsive-table td{
      padding:8px 0px;
         }
  }

@media(max-width:768px){
  .responsive-table {
    margin:0px auto;
    width:100%;
  border: 1px solid #efebeb;
  
  }
  
  .responsive-table th {
    display: none;
  }
  
  .responsive-table td {
    display: block;
  border-top: 1px solid #ddd;
  padding:8px;
  }
  .responsive-table td:first-child{border:none;}
  .responsive-table td:first-child {
    padding-top: .5em;
  }
  .responsive-table td:last-child {
    padding-bottom: .5em;
  }
  .responsive-table td:before {
    content: attr(data-th) ": ";
    display:block;
  font-weight:bold;
  }
  }

  .box {
    position: relative;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    padding: 1rem;
}
.navbar-nav .nav-item .lnr-menu{
  color:#aa802d;
  font-size: 23px;
  font-weight: bold;
}
@media(max-width:1200px){
  .navbar-nav .nav-item .lnr-menu{
    color:#aa802d;
    font-size: 23px;
    font-weight: bold;
  }
}
.bannerdashbord{
  position: relative;
  background: url(../img/hero-bg.jpg); height: 100vh; background-size: cover; background-position: center 0; background-repeat: no-repeat; width: 100%;
  border-radius: 5px;
}

.main-sidebar {
  background:#0c233f;
}





